* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}
.container {
    width: 600px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    display: flex;
    flex-wrap: wrap;
}
.container div {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar {
    font-size: x-large;
    font-weight: bold;
}


